@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header {
    background: #878787;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 20px;
    width: 200px;
    height: 55px;
    background: url(../images/logo_IMG.png) no-repeat;
    background-size: 200px 50px;
    text-indent: -9999px;
}

.icon_Back {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.icon_L {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    background-color: transparent;
    border: none;
}

.icon_R {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.icon_R2 {
    display: flex;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
    border: none;
}

.icon_Back:hover {
    transform: scale(1.2);
}

.icon_L:hover {
    transform: scale(1.2);
}

.icon_R:hover {
    transform: scale(1.2);
}

.icon_R2:hover {
    transform: scale(1.2);
}

.topnav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 75px;
    background-color: #B4B4B4;
    width: 80px;
    height: 100%;
    z-index: 998;
}

.sidebar ul button {
    padding: 15px;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 0;
    border: none;
    border-bottom: 1px solid #000;
    text-align: center;
    transition: 0.4s;
    background-color: #B4B4B4;
}

.sidenav {
    position: fixed;
    display: none;
    background-color: #d7d7d7;
    padding: 10px;
    padding-top: 85px;
    left: 80px;
    width: 300px;
    height: 100%;
    text-align: left;
    z-index: 997;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.aligncenter {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

button#addText {
    width: 100%;
    height: 35px;
    font-size: 20px;
    background-color: #d7d7d7;
    border: none;
}

button#addText:hover {
    background-color: rgb(180, 180, 180);
}

input#textColor {
    width: 20%;
    height: 35px;
    background-color: #d7d7d7;
    border: none;
}

button.textDesign {
    width: 25%;
    height: 35px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7d7d7;
    border: none;
}

button.textDesign:hover {
    background-color: #B4B4B4;
}

select#textBorderWidth {
    height: 30px;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #000;
    background-color: #d7d7d7;
    border-radius: 0;
}

select#textBorderWidth:hover {
    background-color: #B4B4B4;
}

input#textBorderColor {
    text-align: center;
    width: 20%;
    height: 35px;
    background-color: #d7d7d7;
    border: none;
}

/**/

input#Height {
    height: 30px;
    width: 70%;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: #d7d7d7;
    border-bottom: 3px solid #000;
}

input#Width {
    height: 30px;
    width: 70%;
    font-size: 20px;
    text-align: right;
    border: none;
    background-color: #d7d7d7;
    border-bottom: 3px solid #000;
}

button#swap {
    width: 90%;
    height: 35px;
    font-size: 20px;
    background-color: #d7d7d7;
    border: none;
}

button#swap:hover {
    background-color: #B4B4B4;
}

button.Size {
    width: 25%;
    height: 35px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d7d7d7;
    border: none;
}

button.Size:hover {
    background-color: #B4B4B4;
}

button#change {
    width: 100%;
    height: 35px;
    font-size: 20px;
    background-color: #d7d7d7;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

button#change:hover {
    background-color: #B4B4B4;
}

input#backColor {
    text-align: center;
    width: 20%;
    height: 35px;
    background-color: #d7d7d7;
    border: none;
}

input#backTransparent {
    width: 20px;
    height: 20px;
}

/**/

#movable {
    width: 595px;
    height: 842px;
    position: absolute;
    margin: auto;
    display: block;
}

#canvas-container {
    width: 100%;
    height: 100%;
    top: 75px;
    left: 80px;
    position: absolute;
    background-color: aliceblue;
}

.shape_btn {
    background-color: transparent;
    border: none;
}

.textDesign {
    padding: 5px;
}

.qrimage {
    /* margin-top: 5px; */
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: left;
}

.image {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.upload-area {
    width: 100%;
    height: 210px;
    position: relative;
    border: 1px dotted rgb(0, 0, 0);
    background-color: #B4B4B4;
}

.upload-area p {
    width: 100%;
    position: absolute;
    top: 40%;
}

#input-files {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slidebar {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    height: 100%;
}

#fileName {
    display: none;
    border: 1px solid #ccc;
    /* 枠線を追加 */
    padding: 20px;
    /* 内側の余白を追加 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    z-index: 996;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}